.image-gallery-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.image-gallery {
    font-size: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-row-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.image-gallery-photo {
    max-height: 60vh;
    max-width: 40vh;
}

.card-wrapper {
    width: 80vw;
}

@media (max-width: 900px) {
    .image-gallery-photo {
        max-height: 50vh;
        max-width: 25vh;
    }
  }