.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('/public/photos/rim1.jpeg');
  background-size: 100%;
  display: flex;
  flex-direction: column;
}

.front-page-image {
  display: flex;
  height: 20%;
  width: 60%;
}

.front-page-text {
  margin: 40px;
  color: black;
  background-color: #FFFFFF44;
}

.front-page-header {
  font-weight: 600;
  margin: 20px;
}

.front-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  max-width: 100vw;
}

.App-header {
  background-color: #ebe8e8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
