.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  /* background-image: url('/public/photos/grey_rim1.jpeg'); */
  /* background-repeat: repeat-y; */
  /* background-size: 10%; */
  display: flex;
  flex-direction: column;
  background-color: #fff7ed;
}

.front-page-image {
  display: flex;
  height: 30%;
  width: 50%;
}

.front-page-text {
  margin-right: 20rem;
  margin-left: 20rem;
  color: black;
  background-color: #FFFFFF44;
}

.front-page-header {
  font-weight: 300;
  margin: 20px;
}

.front-page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

.front-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  max-width: 100vw;
}

.App-header {
  background-color: #ebe8e8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 900px) {
  .front-page-text {
    margin-right: 2rem;
    margin-left: 2rem;
    color: black;
    background-color: #FFFFFF44;
  }

  .front-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 100vw;
  }
}
