.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #fff7ed;
}

.gallery-page-bean {
  display: flex;
  height: 20%;
  width: 60%;
}

.gallery-page-image {
  display: flex;
  height: 30%;
  width: 50%;
}

.gallery-page-header {
  font-weight: 300;
  margin: 10px;
}

.gallery-page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50vw;
  max-height: 50vh;
}

.image-gallery-wrapper {
}

.gallery-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  max-width: 100vw;
}

.gallery-page-text {
  margin-right: 20rem;
  margin-left: 20rem;
  color: black;
  background-color: #FFFFFF44;
}

@media (max-width: 900px) {
  .gallery-page-text {
    margin-right: 10rem;
    margin-left: 10rem;
    color: black;
    background-color: #FFFFFF44;
  }

  .gallery-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 100vw;
  }
}

