.App {
    text-align: center;
  }
  
  .App-logo {
    height: 10vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #ebe8e8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .contact-page-bean {
    max-height: 30vh;
    margin-top: 2rem;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-blurb-text {
    font-size: 45px;
    margin-bottom: 10rem;
    max-width: 50%;
  }
  
  .contact-blurb-header {
    font-size: 90px;
    font-weight: 300;
  }

  @media (max-width: 900px) {
    .contact-page-bean {
      max-height: 30vh;
      margin-top: 1rem;
    }
    
    .contact-blurb-text {
      font-size: 25px;
      margin-bottom: 3rem;
      max-width: 70%;
    }
    
    .contact-blurb-header {
      font-size: 50px;
      font-weight: 300;
    }
  }
  